**/__pycache__/**
ignore_test
**/.idea/**
**/.vscode/**
*.log
.DS_Store
*.bak
old
data/json/*.json
*.jsonx
*.json
.jsonl
!data/json/examples/bad-cases.json
!data/docs/knowledge_base.json
!data/data/excel/
!data/log/
!data/json/
request_knowledge.py
src/config.py