fastapi==0.115.12apscheduler==3.11.0uvicorn==0.34.2aiohttp==3.11.17rich==14.0.0colorama==0.4.6tqdm==4.67.1tabulate==0.9.0pyfiglet==1.0.2requests==2.32.3loguru==0.7.3elasticsearch==7.17.9langchain==0.2.17langchain_community==0.2.19gradio==4.26.0openai==1.59.3